
@{
    ViewBag.Title = "AdminPanel";
    ViewBag.a = "active";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="container" style="margin-top:230px;margin-bottom:230px">Serkan Usta Hosgeldiniz!!!</h2>

